log/
data/cookies.json
config/config.json
test.py
download/
tasks/status.json
bot/
utils/__pycache__/
data/__pycache__/
env/
temp/
config/__pycache__/
/.venv/
config\__pycache__
__pycache__
/__pycache__
/.vscode